*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    background: linear-gradient(to left ,rgba(170, 218, 221, 255),rgba(146, 237, 149, 255));
    background-size: cover;
} 
h1{
    margin-bottom: 30px;
    text-align: center;
}
.container{
    background-color:rgba(255, 255, 255, 0.518);
    padding: 50px;
    width: 35%;
    margin-top: 175px;
}
.inputline{
    display: flex;
    height: 40px;
    margin-top: 10px;
    justify-content: space-between;
}
